<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Redes Sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/in/jhonatanmedeiros/" target="blank" class="icoLinkedin">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/JhonMeddev" target="blank" class="icoGithub">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">2022 Copyright: Jhonatan Medeiros</span>
  </div>


</footer>
